* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.container {
    padding: 0 130px;
    margin: auto;
}

div.menuBar {
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.menuBar div.logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

div.menuBar div.logo h1 {
    color: #191825;
    font-size: 24px;
}

div.navigation {
    display: flex;
    gap: 64px;
    align-items: center;
}

div.navigation a {
    text-decoration: none;
    color: #191825;
    opacity: 0.5;
    font-weight: bold;
}

div.menu {
    display: none;
}

div.navigation a:hover {
    color: #222831;
    opacity: 1;
}

div.groupBtn {
    display: flex;
}

div.groupBtn button {
    padding: 16px 32px;
    border: none;
    border-radius: 100px;
    font-size: 14px;
    font-weight: bold;
    color: #222831;
    background-color: transparent;
}

div.groupBtn button:hover {
    background-color: #5D50C6;
    color: #EEEEEE;
}